/* colors - see style guide for docs. 
Clearly there is more you could place in variables, up to you if you want to use them. My answer does not go beyond colors to keep the code easier to read. */

:root {
    --color1: #001219;
    --color2: #005f73;
    --color3: #3d9397;
    --color4: #94d28d;
    --color5: #e9d8a6;
    --color6: #ee9800;
    --color7: #ca6702;
    --color8: #bb3e03;
    --color9: #ae2012;
    --color10: #9b2226;
}


/* generic site styles */
html{
    box-sizing:border-box;
}
*, 
*::after,
*::after{
    box-sizing: inherit;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #DBE5DE;
    padding: 0;
    margin: 0;
}
section{
    max-width:1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
section h2{
    font-size: 2.5rem;
}

/* Specific stylings */
section ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* To keep mobile screens from being stupid long, 
consider setting max height on the images and hide the overflow 

Individual border styles are used so that we can set it later individually.
Styling is same for all borders except color
*/

figure{
    max-height: 400px;
    margin: 0 0 0.5rem 0;
    padding:0;
    overflow: hidden;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    position:relative;
}