/* colors - see style guide for docs. 
Clearly there is more you could place in variables, up to you if you want to use them. My answer does not go beyond colors to keep the code easier to read. */

:root {
    --color1: #001219;
    --color2: #005f73;
    --color3: #3d9397;
    --color4: #94d28d;
    --color5: #e9d8a6;
    --color6: #ee9800;
    --color7: #ca6702;
    --color8: #bb3e03;
    --color9: #ae2012;
    --color10: #9b2226;
}


/* generic site styles */
html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
    margin:0;
    padding:0;
}

/*****************
New styles begin here and continue to the end of the page 
****************/
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    background-color: rgba(242, 242, 242, 0.8);
}

#collections{
    max-width:1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
#collections h2{
    font-size: 1.6rem;
}

#collections ul{
    list-style-type: none;
}

/* To keep mobile screens from being stupid long, consider setting a max height on the images and hide the overflow. 
Spelled out the individual border styles so border-color could go elsewhere. Styling is the same for all borders except the color. */
figure{
    margin-bottom: 0.5rem;
    max-height: 400px;
    overflow: hidden;
    border-width: 5px;
    border-style: solid;
    border-radius:5px;
    position: relative;
}
figure img{
    width:100%;
    /* same as background-size */
    object-fit: cover;
    /* same as background-position */
    /* x axis y axis (pull image up) */
    object-position: 0px -150px; 
}
figcaption{
    font-size: 1.6rem;
    position:absolute;
    bottom:0;
    width:100%;
    background-color:rgba(255, 255, 255, 0.7);
}
figcaption a{
    display: block;
    text-decoration: none;
    color:var(--color1);
    padding:0.5rem;
}

/* strange open space at the bottom of the box which shows through the transparent overlay - this kills it */


/* make the a have a big clickable area with display: block - the link occupies its containing element, the figcaption */



/* style is doing double duty, styling border color and hover color. Only one declaration usually applies though.  */



/* turn on flexbox here - prior to this, elements stacked individually as blocks */

@media (min-width: 550px) {

}

@media (min-width: 800px) {
}